@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url(master.css);

.body-custom {
    background-color: #0e1416;
    /* background: url(../img/pexels-matt-hardy-1870259.jpg) no-repeat center center fixed;  */
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(-150%);
    }
}

.animated-title {
    position: absolute;
    font-family: var(--main-font);
    color: #ececec;
    font-size: 3.5vw;
    text-wrap: wrap;
    text-justify: left;
    animation: fadeInUp .5s ease-in-out forwards;
    animation-delay: 0.5s;
    z-index: 2;
    opacity: 0;
    left: 60%;
    /* Add this line */
    /* transform: translateX(-50%); */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translate(0%, -50%);
}

@keyframes fadeInDown {
    0% {
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.animated-subtitle {
    position: absolute;
    font-family: var(--main-font);
    color: #ececec;
    font-size: 1.5vw;
    text-wrap: wrap;
    text-justify: left;
    /* animation: fadeInDown .5s ease-in-out forwards;
    animation-delay: 0.75s; */
    z-index: 2;
    opacity: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 700px; /* Adjust as needed for the maximum width of the text container */
    margin: auto;

}

.line {
    position: absolute;
    width: 35%; /* Adjust as needed for the length of the line */
    height: 2px; /* Adjust as needed for the thickness of the line */
    background: #ececec; /* Adjust as needed for the color of the line */
    margin: 0 auto; /* Center the line horizontally */
    opacity: 0; /* Start out invisible */
    animation: fadeIn .5s ease-in forwards; /* Fade in at 1 second */
    animation-delay: 1s; /* Start the animation at 1 second */
    left: 60%;
    top: 50vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    transform: translate(0%, -50%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}