/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); */
@import url(master.css);
/* 
Text scrambler style
Called by js/text-scramble.js to scramble the text on load for index.html
*/
.scrambler {
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    padding: 20px;
    font-family: var(--main-font) !important;
    color: #ffffff;
    font-size: 5em;
    margin-bottom: 30px;
    text-shadow: 0px 0px 20px #000000;
}

/* Button fading and animation + custom style for index */
.btn-custom {
    font-size: 1.4em;
    opacity: 0;
    animation: fadeIn .5s ease-in 0.2s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* 
Background colored overlay that fades in when button is pressed for transition
Called by js/index-button.js
*/
.button-overlay {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    transition: background-color 0.5s ease-in;
    pointer-events: none;
}
.button-overlay.show {
    background-color: #0e1416;
}

/* 
-------- Grid -------- 
*/
.grid-bg {
    background-color: #0e1416;
    width: 100vw;
    height: 100vh;
}

.grid {
    overflow: hidden;
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* z-index: 10; */
    position: absolute;
    perspective: 450px;
}

.grid-fade {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background: radial-gradient(ellipse at 50% 50%, rgba(14, 20, 22, 0) 0%, #0e1416 70%);
    z-index: 2;
}

.grid-lines {
    overflow: hidden;
    position: absolute;
    width: 50vw;
    height: 300vh;
    /* left: 50%; 
    top: 50%; */
    background-image: linear-gradient(to right, rgba(158, 158, 158, 0.3) 1px, transparent 0), linear-gradient(to bottom, rgba(158, 158, 158, 0.3) 1px, transparent 0);
    background-size: 45px 30px;
    background-repeat: repeat;
    transform-origin: top center;
    transform: rotateX(30deg) rotateY(180deg);
    

    animation: play-left 15s linear infinite ;
}

.grid-lines-right {
    overflow: hidden;
    position: absolute;
    width: 50vw;
    height: 300vh;
    right: 0;
    /* left: 50%; 
    top: 50%; */
    background-image: linear-gradient(to right, rgba(158, 158, 158, 0.3) 1px, transparent 0), linear-gradient(to bottom, rgba(158, 158, 158, 0.3) 1px, transparent 0);
    background-size: 45px 30px;
    background-repeat: repeat;
    transform-origin: top left;
    transform: rotateX(30deg);

    animation: play 15s linear infinite ;
}



.text-center-custom {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-wrap: wrap;
}

@keyframes play {
    0% {
        transform: rotateX(40deg) translateY(-50%);
    }

    100% {
        transform: rotateX(40deg) translateY(0%);
    }
}

@keyframes play-left {
    0% {
        transform: rotateX(40deg) rotateY(180deg) translateY(-50%);
    }

    100% {
        transform: rotateX(40deg) rotateY(180deg) translateY(0%);
    }
}