@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url(master.css);

.body-custom {
    background-color: #0e1416;
    /* background: url(../img/pexels-matt-hardy-1870259.jpg) no-repeat center center fixed;  */
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100vw;
    overflow: hidden;
    position: relative;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
    height: 100vh;
    padding: 10px;
}

.grid-item {
    background-color: #ddd;
    border-radius: 15px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.grid-item:active {
    transform: scale(1.5);
}

.grid-item:hover {
    transform: scale(1.1);
}
