@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url(master.css);


.body-custom {
    background-color: #0e1416;
    width: 100vw;
    height: 100vh;
}
/* 
Overlay for the fade in when switching onto the page
*/
.switch-overlay {
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    z-index: 20;
    transition: background-color 0.5s ease-out;
    pointer-events: none;
}

.switch-overlay.remove {
    background-color: transparent;
}


